.side-bar-filter {
    display: none;
}

.index-bucket {
    font-size: 0px;
    word-spacing: 0px;
}

.result-found-txt {
    font-weight: bolder;
    color: grey;
    font-size: 20px;
    text-transform: capitalize;
    padding: 15px 0px;
    margin-left: 10px;
}

.page-spin-loader {
    width: 30%;
    max-width: 120px;
    display: block;
    margin: 20vh auto 20vh auto;
}
.no-search-result-page-temp{
    display: none;
}
.no-search-result-page-temp img{
    width: 60%;
    max-width: 330px;
    display: block;
    margin: 15vh auto 0px auto;
}
.no-search-result-page-temp b{
    display: block;
    text-align: center;
    font-size: 23px;
    color: grey;
}
.index-cont {
    position: relative;
    width: 47%;
    display: inline-block;
    margin: 15px 0px 0px 2%;
    color: white;
    text-shadow: 2px 2px 4px grey;
    padding-bottom: calc(50% - 3%);
}

.index-inner-bone {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(83%);
}

.data-count {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 5;
    display: flex;
}

.data-count img {
    width: 23px;
    height: 23px;
}

.data-count span {
    font-size: 15px;
    margin: auto 5px;
    font-weight: 600;
}

.cont-info {
    position: absolute;
    right: 3px;
    bottom: 5px;
    text-align: right;
    z-index: 10;
}

.cont-info b {
    font-size: 15px;
    display: block;
    margin-top: 3px;
    text-transform: capitalize;
}

.cont-info small {
    font-size: 12px;
    display: block;
}

.page-star-con {
    margin: 4px 0px 5px auto;
}

.page-star-con img {
    width: 14px;
    margin-left: 4px;
}

.pg-box {
    padding: 20px 0px;
    width: 90%;
    margin: 27px auto;
    line-height: 53px;
}

.pg-box a {
    padding: 10px 13px;
    box-shadow: 2px 2px 4px grey;
    background-color: yellow;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
    user-select: none;
}

@media only screen and (min-width: 470px) {
    .index-cont {
        width: 30%;
        margin-left: 2.4%;
        padding-bottom: calc(33% - 3%);
    }
}

@media only screen and (min-width: 650px) {
    .index-cont {
        width: 22%;
        padding-bottom: calc(25% - 3%);
    }

    .cont-info b {
        font-size: 17px;
    }

    .page-star-con img {
        width: 16px;
    }

    .result-found-txt {
        font-size: 23px;
        margin-left: 12px;
    }
}

@media only screen and (min-width: 830px) {
    .index-cont {
        width: 17%;
        padding-bottom: calc(20% - 3%);
    }

    .result-found-txt {
        font-size: 25px;
        margin-left: 16px;
    }
    .no-search-result-page-temp b{
        font-size: 27px;
    }
}

@media only screen and (min-width: 1000px) {
    .con-flexer {
        display: flex;
        max-width: 1270px;
    }

    .con-flexer>* {
        flex-shrink: 0;
    }

    .side-bar-filter {
        width: 25%;
        max-height: 98vh;
        background-color: rgb(219, 219, 219);
        box-shadow: 2px 2px 4px grey;
        flex-shrink: 0;
        display: block;
        position: sticky;
        top: 0px;
    }

    .side-bar-filter img {
        width: 100%;
    }

    .index-packer {
        width: 63%;
        padding: 15px 3%;
        border-radius: 10px;
        margin: 15px auto;
        background-color: white;
        box-shadow: 2px 2px 7px grey, -2px -2px 7px gray;
        flex-shrink: 0;
        height: -moz-fit-content;
        height: fit-content;
        min-height: 70vh;
    }

    .result-found-txt {
        font-size: 27px;
    }

    .index-cont {
        width: 22%;
        padding-bottom: calc(25% - 3%);
    }

    .cont-info b {
        font-size: 18px;
    }

    .cont-info small {
        font-size: 15px;
        margin-top: 5px;
    }
}

@media only screen and (min-width: 1170px) {
    .index-packer {
        padding: 23px 3%;
    }
}