body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.pro-des {
    position: relative;
    margin: 30px 0px;
    text-transform: capitalize;
    height: fit-content;
}

.pro-des span {
    text-align: center;
    display: block;
    padding: 0px 50px;
    font-size: 29px;
}

.pro-des b {
    font-size: 37px;
    color: blue;
}

.pro-des d {
    display: inline-block;
    border-radius: 50%;
    position: absolute;
}

header {
    background-color: darkblue;
    color: white;
}

.temp-head {
    background-color: darkblue;
    color: white;
}

.head-top {
    position: sticky;
    top: 0;
    z-index: 30;
    color: white;
    background-color: darkblue;
    display: flex;
    height: 50px;
}

.logo {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    height: 37px;
}

.profile-con {
    margin-left: auto;
    text-align: center;
    margin-right: 5px;
}

.profile-con img {
    width: 30px;
    height: 30px;
}

.profile-con div {
    font-size: 13px;
    margin-top: -2px;
}

.signBtn {
    background-color: darkblue;
    color: white;
    font-weight: bold;
    margin: auto 8px auto auto;
    display: inline-block;
    border-radius: 4px;
    padding: 6px 9px;
    border: 2px solid orange;
    cursor: pointer;
    display: none;
}

.signBtn:active {
    background-color: white;
    color: darkblue;
}

.main-txt {
    font-size: 37px;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 15px;
}

.j {
    text-align: center;
}

.header-des {
    text-align: center;
    padding: 17px 37px 40px 37px;
    word-spacing: 3px;
    line-height: 1.7em;
}

.header-des a {
    color: yellow;
}

.sf {
    left: 100%;
}

.start {
    background-color: purple;
    color: white;
    width: 93%;
    margin: 30px auto 0px auto;
    padding: 15px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 2px 2px 4px grey;
    user-select: none;
}

.start:active {
    background-color: white;
    color: purple;
}

.biss-table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

.biss-table tr td a {
    text-decoration: none;
}

.biss-table tr td a div {
    border-radius: 3px;
    padding: 15px 0px;
    font-weight: bold;
    font-size: 17px;
    width: 87%;
    margin: auto;
    user-select: none;
}

.biss-table tr td:first-child a div {
    border: 2px solid crimson;
    color: crimson;
    background-color: white;
}

.biss-table tr td:last-child a div {
    background-color: darkgreen;
    color: white;
}

.or-sep {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 20px 0px;
    color: darkblue;
}

.biss-table tr td:last-child a div:active {
    background-color: white;
    color: darkgreen;
}

.biss-table tr td:first-child a div:active {
    background-color: crimson;
    color: white;
}

.guide-con {
    width: 95%;
    margin: auto;
    margin-top: 30px;
}

.guide-con h1 {
    text-align: center;
}

.guide-con li {
    margin-top: 15px;
}

.guide-con li div {
    font-size: 15px;
}

.service-outline-box {
    margin-top: 30px;
    padding: 0px 10px;
}

.service-outline-box h2 {
    margin-left: 10px;
    color: brown;
    margin-bottom: 3px;
}

.service-outline-box stripe {
    border-radius: 20px;
    width: 60%;
    max-width: 270px;
    height: 3px;
    margin: 2px 0px 20px 5px;
    background-color: brown;
    display: block;
}

.outline-main-list {
    margin-top: 10px;
}

.outline-main-list a {
    color: blue;
    font-size: 17px;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
}

.outline-main-list ul li {
    margin-top: 3px;
    list-style-type: disc;
}

.work-des-con {
    margin-top: 70px;
}

.work-des-title {
    text-align: center;
    border: 2px dashed red;
    padding: 10px 60px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 10px auto;
    background-color: rgb(255, 227, 175);
}

.work-des-title img {
    width: 40px;
    border-radius: 50%;
}

.work-des-title div {
    font-weight: bold;
    margin-top: 7px;
    font-size: 20px;
}

.work-des-main-list {
    margin-top: 15px;
}

.work-sample-img-con {
    font-size: 0px;
    word-spacing: 0px;
    padding: 20px 0px;
}

.work-sample-img-con img {
    width: 45%;
    margin-left: 3.2%;
    max-width: 230px;
}

.work-des-main-list ul {
    margin-top: 12px;
    list-style-type: lower-roman;
}

.work-des-main-list ul li {
    margin-top: 5px;
}

.work-part-img-cont {
    display: inline-block;
    width: 47%;
    margin-left: 2%;
    margin-top: 20px;
}

.work-part-img-cont img {
    width: 100%;
}

.work-part-img-cont div {
    font-size: 14px;
    padding: 7px 0px;
    text-align: center;
    font-weight: 600;
}

.work-des-list-title {
    color: darkblue;
    font-size: 18px;
    text-transform: capitalize;
}

.testi-con {
    text-align: center;
    margin-top: 50px;
    background-color: darkblue;
    color: white;
    padding: 10px 0px 50px 0px;
}

.fig-con {
    margin: 40px auto 0px auto;
    width: 70%;
    max-width: 370px;
}

.fig-con img {
    width: 50%;
    max-width: 120px;
    border-radius: 50%;
    border: 2px solid grey;
}
.fig-con b{
    display: block;
    margin-top: 7px;
    font-size: 18px;
}
.fig-con figcaption {
    font-size: 14px;
    margin-top: 5px;
    font-style: italic;
}

.about-us-con {
    padding: 0px 5px 0px 10px;
    line-height: 21px;
    margin-top: 50px;
}

.about-us-title {
    text-align: center;
    padding-bottom: 10px;
    color: brown;
}

@media only screen and (min-width: 600px) {
    body {
        
    }
    .profile-con {
        margin-right: 10px;
    }
    .spacer {
        width: 70%;
        max-width: 750px;
        margin: auto;
    }
}

@media only screen and (min-width: 830px) {
    body {
        
    }
    .work-part-img-cont {
        width: 30%;
        margin-left: 2.5%;
    }
}

@media only screen and (min-width: 1000px) {
    body {
        
    }
    .fig-con {
        width: 60%;
    }
    .people-con {
        display: flex;
        font-size: 0px;
        word-spacing: 0px;
    }
    .fig-con {
        width: 25%;
        flex-shrink: 0;
    }
}